@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  font-style: normal;
  background-color: #f4f6fa;
  color: #313e51;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("./assets/images/pattern-background-desktop-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  margin-top: 6.063em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
}

/* -------------------Style the header part------------------- */

header {
  display: flex;
  justify-content: space-between;
}

.logo_categories {
  display: flex;
  gap: 24px;
}

.logo_brightness {
  display: flex;
  align-items: center;
  gap: 16px;
}

.toggleBrightness {
  appearance: none;
  position: relative;
  width: 48px;
  height: 28px;
  border-radius: 999px;
  background-color: #a729f5;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
  align-self: center;
}

.toggleBrightness::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #fff;
  transition: left 0.3s;
}

.toggleBrightness:checked::after {
  left: 70%;
}

/* -------------------Style the main part------------------- */

.main_section {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25em;
}

/* -------Style the question section------- */

.question {
  flex-basis: 465px;
}

.main_title_question {
  font-size: 4rem;
  font-weight: 300;
}

.main_title span {
  font-weight: 500;
}

.main_title p {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  margin-top: 2.4em;
  color: #626c7f;
}

p.number_of_questions {
  margin-top: 0;
  margin-bottom: 1.35em;
}

/* -------Style the answer section------- */

.answer {
  flex-basis: 564px;
}

[class^="answer-"] {
  display: flex;
  gap: 32px;
  padding: 1.25em;
  padding-right: 0;
  background-color: #fff;
  border-radius: 1.5em;
  cursor: pointer;
}

[class^="answer-"]:hover .answer_icon-text {
  color: #a729f5;
  background-color: #f6e7ff;
}

[class^="answer-"].selected .answer_icon-text {
  color: #fff;
  background-color: #a729f5;
}

.selected {
  border: 3px solid #a729f5;
  outline: none;
}

.answer [class^="answer-"]:nth-child(-n + 3) {
  margin-bottom: 1.5em;
}

.answer_text,
.logo_categories-text {
  align-self: center;
  font-size: 1.75rem;
  font-weight: 500;
}

.answer_icon-A__img {
  background-color: #fff1e9;
}

.answer_icon-B__img {
  background-color: #e0fdef;
}

.answer_icon-C__img {
  background-color: #ebf0ff;
}
.answer_icon-D__img {
  background-color: #f6e7ff;
}

img.size {
  padding: 0.5em;
  vertical-align: middle;
  border-radius: 0.4em;
}

p.answer_icon-text.visible {
  font-size: 1.75rem;
  font-weight: 500;
  border-radius: 0.4em;
  color: #626c7f;
  background-color: #f4f6fa;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.submit_answer.visible {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  margin-top: 1.142em;
  padding-top: 1.142em;
  padding-bottom: 1.142em;
  border-radius: 0.857em;
  color: #fff;
  background-color: #a729f5;
}

.request_to_select.visible {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 2em;
}

.request_to_select p {
  align-self: center;
  color: #ee5454;
  font-size: 1.5rem;
}

/* Classes for Dark Mode */

body.dark-mode::before {
  background-image: url("./assets/images/pattern-background-desktop-dark.svg");
}

.dark-mode {
  background-color: #313e51;
  color: #fff;
}

.main_title p.dark-mode-p {
  color: #abc1e1;
}

.dark-mode-children {
  background-color: #3b4d66;
  color: #fff;
}

/* Implement Media Queries for tablet screen size */

@media (max-width: 1200px) {
  body::before {
    background-image: url("./assets/images/pattern-background-tablet-light.svg");
    background-size: auto;
  }

  body.dark-mode::before {
    background-image: url("./assets/images/pattern-background-tablet-dark.svg");
  }

  .container {
    margin-top: 3.375em;
    max-width: 640px;
  }

  /* -------------------Style the main part------------------- */
  .main_section {
    flex-direction: column;
    margin-top: 3.938em;
  }

  /* -------Style the question section------- */
  .question {
    flex-basis: auto;
    margin-bottom: 4em;
  }

  .main_title p {
    margin-top: 0.8em;
  }

  p.number_of_questions {
    margin-top: 0;
    margin-bottom: 0.857em;
  }

  /* -------Style the answer section------- */
  .answer {
    flex-basis: auto;
  }

  [class^="answer-"] {
    padding: 0.75em;
  }
}

/* Implement Media Queries for mobile screen size */

@media (max-width: 600px) {
  body::before {
    background-image: url("./assets/images/pattern-background-mobile-light.svg");
  }

  body.dark-mode::before {
    background-image: url("./assets/images/pattern-background-mobile-dark.svg");
  }

  .container {
    margin-top: 1em;
    max-width: 327px;
  }

  /* -------------------Style the header part------------------- */
  .logo_brightness {
    gap: 8px;
  }

  /* -------------------Style the main part------------------- */
  .main_section {
    margin-top: 3.625em;
  }

  /* -------Style the question section------- */
  .question {
    margin-bottom: 2.5em;
  }

  .main_title_question {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .main_title p {
    font-size: 0.875rem;
  }

  /* -------Style the answer section------- */
  [class^="answer-"] {
    gap: 16px;
    border-radius: 0.75em;
  }

  .answer [class^="answer-"]:nth-child(-n + 3) {
    margin-bottom: 0.75em;
  }

  img.size {
    width: 40px;
    height: 40px;
    padding: 0.357em;
  }

  p.answer_icon-text.visible {
    font-size: 1.125rem;
    width: 40px;
    height: 40px;
  }

  .answer_text {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .request_to_select.visible {
    margin-top: 0.75em;
  }

  .request_to_select p {
    font-size: 1.125rem;
  }

  .request_to_select img {
    width: 32px;
    height: 32px;
  }
}

/* Make all undesirable elements for welcoming page invisible */

.invisible {
  display: none;
}

.visible {
  display: block;
}
